# Environments
venv/
newenv/
env/
node_modules/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Media (Local testing files)
*.csv
*.mp3
*.wav
*.m4a
*.mp4
file_scores/
file_summaries/

# System / OS
.DS_Store
Thumbs.db
*.sqlite3
bin/
*.exe